.show-menu {
    width: 240px;
    height: 100%;
    position: absolute;
    left: 0px;
    transition: 1s;
    display: table;
    background-color: white;
}

.parent-menu {
    margin-left: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}